@font-face {
  font-family: 'IBMplexmono';
  src: url('Assets/IBMPlexMono-Regular.ttf');
}

body {
  font-family: "IBMplexmono";
  height: 100vh;
  width: 95vw;
  background: #222;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container {
  margin: auto;
  width: 85%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
  text-decoration: underline;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.streak-container {
  font-size: 1.2rem;
  margin: 5px 0;
}

button {
  background: #ffdd57;
    color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

button:hover {
  background: #ffcc00;
}

.mood-selector span {
  font-size: 2.5rem;
  cursor: pointer;
  margin: 5px;
  transition: transform 0.2s, color 0.2s;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.mood-selector .selected {
  color: gold;
  transform: scale(1.2);
}

textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  resize: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  color: black;
  border-radius: 10px;
}

.close {
  float: right;
  font-size: 28px;
  cursor: pointer;
}